#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config APPLICATION_TIBO_TEST1
	bool "Teacher application test1"
	default n
	---help---
		Enable the Teacher application test1

if APPLICATION_TIBO_TEST1

config APPLICATION_TIBO_TEST1_STACKSIZE
        int "test1 stack size"
        default 1024

config APPLICATION_TIBO_TEST1_USE_ADC
        bool "test1 uses ADC"
        default n

config APPLICATION_TIBO_TEST1_USE_I2C
        bool "test1 uses I2C"
        default n

config APPLICATION_TIBO_TEST1_USE_SPI
        bool "test1 uses SPI"
        default n

# not sure about this at the moment...
#	depends on BUILD_KERNEL

	---help---
		Basic application for terrarium students.
endif
